@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');


.credits{
    font-size: 1vw;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom:0;
    text-align: center;
}
